### Imports and Load

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# Method 1: Download csv from https://finance.yahoo.com/quote/AAPL/history?p=AAPL
aapl_sheet = pd.read_csv('./data/AAPL.csv')

In [2]:
aapl_sheet.head(5)

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.101087  469033600.0
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095813  175884800.0
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088780  105728000.0
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090978   86441600.0
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093615   73449600.0

In [3]:
aapl_sheet.tail(5)

,Date,Open,High,Low,Close,Adj Close,Volume
10105,2021-01-11,129.190002,130.169998,128.500000,128.979996,128.979996,100620900.0
10106,2021-01-12,128.500000,129.690002,126.860001,128.800003,128.800003,91951100.0
10107,2021-01-13,128.759995,131.449997,128.490005,130.889999,130.889999,88636800.0
10108,2021-01-14,130.800003,131.000000,128.759995,128.910004,128.910004,90221800.0
10109,2021-01-15,128.779999,130.220001,127.000000,127.139999,127.139999,111235300.0

In [4]:
aapl_sheet.sample(5)

,Date,Open,High,Low,Close,Adj Close,Volume
1935,1988-08-09,0.392857,0.395089,0.383929,0.388393,0.308639,170027200.0
9099,2017-01-11,29.684999,29.982500,29.650000,29.937500,28.353342,110354400.0
164,1981-08-07,0.112723,0.113281,0.112723,0.112723,0.088780,9206400.0
9171,2017-04-26,36.117500,36.150002,35.845001,35.919998,34.166775,80164800.0
9751,2019-08-15,50.865002,51.285000,49.917500,50.435001,49.853500,108909600.0

In [5]:
aapl_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10110 entries, 0 to 10109
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10110 non-null  object
 1   Open       10109 non-null  float64
 2   High       10109 non-null  float64
 3   Low        10109 non-null  float64
 4   Close      10109 non-null  float64
 5   Adj Close  10109 non-null  float64
 6   Volume     10109 non-null  float64
dtypes: float64(6), object(1)
memory usage: 553.0+ KB

In [6]:
aapl_sheet.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10109.000000,10109.000000,10109.000000,10109.000000,10109.000000,1.010900e+04
mean,10.047465,10.155937,9.937584,10.050526,9.499448,3.391036e+08
std,19.886890,20.119773,19.650572,19.893687,19.557589,3.418705e+08
min,0.049665,0.049665,0.049107,0.049107,0.038677,1.388800e+06
25%,0.272321,0.279018,0.265625,0.272321,0.230810,1.301968e+08
50%,0.443393,0.450714,0.434152,0.444196,0.371497,2.266600e+08
75%,11.607142,11.635715,11.482857,11.595715,10.003056,4.222512e+08
max,138.050003,138.789993,134.339996,136.690002,136.690002,7.421641e+09

In [7]:
# Method 2: Use pandas_datareader, pip3 install pandas-datareader from terminal
import pandas_datareader.data as web

In [8]:
aapl_web = web.DataReader('aapl'
                          , 'yahoo'
                          , start = '12/12/1980'
                         ).reset_index()

In [9]:
aapl_web.head(5)

        Date      High       Low      Open     Close       Volume  Adj Close
0 1980-12-12  0.128906  0.128348  0.128348  0.128348  469033600.0   0.101073
1 1980-12-15  0.122210  0.121652  0.122210  0.121652  175884800.0   0.095800
2 1980-12-16  0.113281  0.112723  0.113281  0.112723  105728000.0   0.088768
3 1980-12-17  0.116071  0.115513  0.115513  0.115513   86441600.0   0.090965
4 1980-12-18  0.119420  0.118862  0.118862  0.118862   73449600.0   0.093603

In [10]:
aapl_web.tail(5)

,Date,High,Low,Open,Close,Volume,Adj Close
10104,2021-01-11,130.169998,128.500000,129.190002,128.979996,100620900.0,128.979996
10105,2021-01-12,129.690002,126.860001,128.500000,128.800003,91951100.0,128.800003
10106,2021-01-13,131.449997,128.490005,128.759995,130.889999,88636800.0,130.889999
10107,2021-01-14,131.000000,128.759995,130.800003,128.910004,90221800.0,128.910004
10108,2021-01-15,130.220001,127.000000,128.779999,127.139999,111235300.0,127.139999

In [11]:
aapl_web.sample(5)

,Date,High,Low,Open,Close,Volume,Adj Close
2203,1989-08-31,0.401786,0.395089,0.397321,0.397321,56291200.0,0.319452
2046,1989-01-18,0.367188,0.352679,0.363839,0.354911,487928000.0,0.283275
9406,2018-04-04,43.002499,41.192501,41.220001,42.902500,138422000.0,41.454033
1539,1987-01-16,0.223214,0.213170,0.223214,0.217634,407680000.0,0.171385
8997,2016-08-17,27.342501,27.084999,27.275000,27.305000,101424000.0,25.728050

In [12]:
aapl_web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10109 entries, 0 to 10108
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10109 non-null  datetime64[ns]
 1   High       10109 non-null  float64
 2   Low        10109 non-null  float64
 3   Open       10109 non-null  float64
 4   Close      10109 non-null  float64
 5   Volume     10109 non-null  float64
 6   Adj Close  10109 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 553.0 KB

In [13]:
aapl_web.describe()

,High,Low,Open,Close,Volume,Adj Close
count,10109.000000,10109.000000,10109.000000,10109.000000,1.010900e+04,10109.000000
mean,10.155937,9.937584,10.047465,10.050526,3.393486e+08,9.499442
std,20.119773,19.650572,19.886890,19.893687,3.416975e+08,19.557592
min,0.049665,0.049107,0.049665,0.049107,1.388800e+06,0.038671
25%,0.279018,0.265625,0.272321,0.272321,1.306296e+08,0.230806
50%,0.450714,0.434152,0.443393,0.444196,2.267496e+08,0.371479
75%,11.635714,11.482857,11.607143,11.595714,4.222512e+08,10.003050
max,138.789993,134.339996,138.050003,136.690002,7.421641e+09,136.690002

In [14]:
# Get Column Headers
aapl_web.columns

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

### Manipulating DataFrames

In [15]:
# Change Headers Method 1: df.rename()
aapl_web.rename(columns = {'Adj Close': 'Adjusted Close'
                           , 'Volume': 'Daily Trade Volume'
                          }, inplace = True)
aapl_web.columns

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Daily Trade Volume',
       'Adjusted Close'],
      dtype='object')

In [16]:
# Additional columns
aapl_web['Daily OC % Change'] = (aapl_web['Close'] - aapl_web['Open']) / aapl_web['Open'] * 100
aapl_web['Daily HL % Change'] = (aapl_web[''])

In [17]:
# Use specific columns
aapl_use = aapl_web[['Date', 'Close', 'Daily Trade Volume']]
aapl_use

            Date       Close  Daily Trade Volume
0     1980-12-12    0.128348         469033600.0
1     1980-12-15    0.121652         175884800.0
2     1980-12-16    0.112723         105728000.0
3     1980-12-17    0.115513          86441600.0
4     1980-12-18    0.118862          73449600.0
...          ...         ...                 ...
10104 2021-01-11  128.979996         100620900.0
10105 2021-01-12  128.800003          91951100.0
10106 2021-01-13  130.889999          88636800.0
10107 2021-01-14  128.910004          90221800.0
10108 2021-01-15  127.139999         111235300.0

[10109 rows x 3 columns]